<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BudgetTravel</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link href="/css/style1.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    
    <!-- Angular js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script src="https://maps.google.com/maps/api/js?v=3&key=AIzaSyBayPPEI6MQsnjxh5t3dJiyPc9BUL6NSjI"></script>
      
</head>

<body ng-app= "mainApp" ng-controller="Api">
                    <div id="user">
                        <p>Name: {{username}}</p>
                        <p>ID: {{id}} </p>
                        <a href="/logout"><button class="btn">Logout</button></a>
                    </div>

                    <h1>Welcome! {{username}}</h1>
                    <h1><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Click here to start your journey!</button></h1>

                    <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                 <h1 class="modal-title">Tell me more about your budget and destination!</h1>
                            </div>
                             <div class="modal-body">
                                 <form name="selection" id="form">
                                    <label for="Location"><strong>Select the city of destination:</strong></label><br>
                                    <select name="Destination" ng-model="obj.address" id="location">
                                        <option value="orlando">Orlando, US</option>
                                        <option value="la">Los Angeles, US</option>
                                        <option value="paris">Paris, France</option>
                                    </select><br>
                                    <label for="Price"><strong>How much you want to spend in attraction (theme park) per day:</strong></label><br>
                                    <select name="Price" ng-model="obj.price1">
                                        <option value="1">$</option>
                                        <option value="2">$$</option>
                                        <option value="3">$$$</option>
                                        <option value="4">$$$$</option>
                                    </select><br>
                                    <label for="Price"><strong>How much you want to spend in restaurants per day:</strong></label><br>
                                    <select name="Price" ng-model="obj.price2">
                                        <option value="1">$</option>
                                        <option value="2">$$</option>
                                        <option value="3">$$$</option>
                                        <option value="4">$$$$</option>
                                    </select><br><br>
                                    <strong>Check-In Date(yyyy-mm-dd):</strong>
                                    <input type="text" name="startdate" ng-model="obj.date1" required>
                                    <br>
                                    <strong>Check-Out Date(yyyy-mm-dd):</strong>
                                    <input type="text" name="enddate" ng-model="obj.date2" required>
                                    <br>
                                    <br>
                                    <button class= "btn btn-dark" ng-click="submit()" data-dismiss="modal">submit</button>
                                    <button class="btn btn-dark" data-dismiss="modal">Close</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div><!--modal-->    

                        <div map-lazy-load="https://maps.google.com/maps/api/js">  
                            <ng-map center="{{map.lat}}, {{map.lng}}" zoom="12"></ng-map>
                            </div>
                      
        <div class="container-fluid">
               <div class="row">
                  <div class="col-md-6" id="attractionDiv">
                    <h3>Recommended attractions</h3>
                    <hr>
                        <div id="attraction" ng-repeat="attraction in attractions">
                            <img ng-src="{{attraction.venue.photos.groups[0].items[0].prefix + '110x110' + attraction.venue.photos.groups[0].items[0].suffix}}"> 
                            <p>{{attraction.venue.name}}</p>
                            <p>{{attraction.venue.location.address + "," + attraction.venue.location.city + "," + attraction.venue.location.state + "" + attraction.venue.location.postalCode}}</p>
                            <p>{{attraction.venue.contact.formattedPhone}}</p>
                            <p>Rating: {{attraction.venue.rating}} out of 10</p>
                        </div>
                   </div>
                   
                   <div class="col-md-6" id="restaurantDiv">
                     <h3>Recommended restaurants</h3><hr> 
                        <div id="restaurant" ng-repeat="restaurant in restaurants">
                            <img ng-src="{{restaurant.image_url}}">
                            <p>{{restaurant.name}}</p>
                            <p>{{restaurant.location.display_address[0] + "," + restaurant.location.display_address[2]}}</p>
                            <p>{{restaurant.display_phone}}</p>
                            <p>Rating: {{restaurant.rating}} out of 5</p>
                        </div>
                    </div>

                    <div class="col-md-6" id="hotelDiv">
                     <h3>Recommended Hotels</h3><hr> 
                        <div id="hotels" ng-repeat="hotel in data">
                            <img ng-src="{{hotel.image}}">
                            <p>{{hotel.title}}</p>
                            <p>{{hotel.address}}</p>
                            <p>{{hotel.price}}</p>
                        </div>
                    </div>

               </div>
       </div>
       
    </body>
    <script>

        var app = angular.module('mainApp', ['ngMap']);
        var clientID= 'B0SVSXBWCRVOHSUCP4OFG0OIJFSHGBMLQFKJDRBZQBO3XYPD';
        var clientSecret = 'OU15FEKKKPAKV4JWOOGDY3WNTMRUDHVHJL1QFXC1QGPPVO20';

        app.controller('Api', function($scope, $http, user, NgMap){

        // geocode the given address
        var geocodeAddress = function(address, callback) {
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode( { 'address': address}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    callback(results[0].geometry.location);
                } else {
                    console.log("Geocode was not successful for the following reason: " + status);
                }
            });
        };
        
        $scope.obj = {
            address: '',
            price1: '',
            price2: '',
            date1: '',
            date2: '',
        }
        
        $scope.submit = function(){
        NgMap.getMap().then(function(map) {
             geocodeAddress($scope.obj.address, function(latLng){
                console.log("1  " + latLng.lat())
                console.log("2  " + latLng.lng())
                $scope.$apply(function() { 
                $scope.map = { lat: latLng.lat(), 
                              lng: latLng.lng(), 
                              bounds: {}
                            };
                 });
             });
         });    

        $http.get("https://api.foursquare.com/v2/venues/explore?near="+ $scope.obj.address + "&query='theme,parks'&venuePhotos=1&price=" + $scope.obj.price1 +
        "&client_id=" + clientID +
        "&client_secret=" + clientSecret +
        "&v=20170402").success(function(data){
            var venue = data.response.groups[0].items
            $scope.attractions = venue;
        });
        
        $http.post("/yelp", $scope.obj).success(function(data) {
            $scope.restaurants = data.businesses;
        })


        if ($("#location").val() == "paris"){
        $http.post("/scrapeParis", $scope.obj).success(function(data){
                  $scope.data = data
        });
        }
        
        else if ($("#location").val() == "orlando"){
        $http.post("/scrapeOrlando", $scope.obj).success(function(data){
                  $scope.data = data
        });
        }
    
        else if ($("#location").val() == "la"){
        $http.post("/scrapeLA", $scope.obj).success(function(data){
                  $scope.data = data
        });
        }
             }
        
        user.User().success(function(data){
            console.log(data)
            $scope.username = data.google.name;
            $scope.id = data.google.id;
         })

    });
        
         app.factory("user", function($http){
            return{
                User: function(){
                    return $http({
                        method:'GET',
                        url:'/user'  
                            })
                        }
                     }
                });

    </script>
    <script src="/node_modules/ngmap/build/scripts/ng-map.min.js"></script>
</html>